<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
    <title>Document</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
    <h3>Pelaajat</h3>

    <% if (locals.errorMessage != null) { %>
        <div><%= errorMessage %></div>
      <% } %>
    
    <br>

    <select id="pelaajabase" name="pelaajabase">

        <% pelaajat.forEach(element => { %>
        <option label="<%= element.playerName %>" value="<%= element._id %>">
        <% }) %>
        
    </select>

    <button type="submit" id="okbutton">OK</button>


    <br>
    <label>Statsit:</label>
    <br>
    <br>
    <label id="statsfifamatches">Fifa Ottelut:</label>
    <br>
    <label id="statsfifawins">Fifa Voitot:</label>
    <br>
    <label id="statsfifalosses">Fifa Häviöt:</label>
    <br>
    <label id="statsfifadraws">Tasapelit:</label>
    <br>
    <label id="statsfifawinperc">Biljardi Voittoprosentti:</label>
    <br>
    <label id="statsbiljardiamatches">Biljardi Ottelut:</label>
    <br>
    <label id="statsbiljardiwins">Biljardi Voitot:</label>
    <br>
    <label id="statsbiljardilosses">Biljardi Häviöt:</label>
    <br>
    <label id="statsbiljardiwinperc">Biljardi Voittoprosentti:</label>
    <br>


    
    <br>
    <br>
    <select id="pelaajavs1" name="pelaajavs1">

        <% pelaajat.forEach(element => { %>
        <option label="<%= element.playerName %>" value="<%= element._id %>"><%= element.playerName %></option>
        <% }) %>
        
    </select>
    <label> VS </label>
    <select id="pelaajavs2" name="pelaajavs2">

        <% pelaajat.forEach(element => { %>
        <option label="<%= element.playerName %>" value="<%= element._id %>"><%= element.playerName %></option>
        <% }) %>
        
    </select>
    <button id="vsbutton">VS</button>


    <br>
    <label>VS Statsit:</label>
    <br>
    <br>
    <label id="vsfifamatches">Fifa ottelut: </label>
    <br>
    <label id="vsfifaplayer1wins">Pelaaja 1 voitot:</label>
    <br>
    <label id="vsfifaplayer2wins">Pelaaja 2 voitot:</label>
    <br>
    <label id="vsfifadraws">Tasapelit:</label>
    <br>
    <label id="vsbiljardimatches">Biljardi ottelut: </label>
    <br>
    <label id="vsbiljardiplayer1wins">Pelaaja 1 voitot:</label>
    <br>
    <label id="vsbiljardiplayer2wins">Pelaaja 2 voitot:</label>
    <br>
    <br>
    <br>
    <br>

    <label>Uusi pelaaja</label>
    <form action="pelaaja" method="POST">
    
        <input name="pelaajaname">
        <button type="submit">OK</button>
    
    
    </form>

    <% pelaajat.forEach(element => { %>
        <div><%= element %></div>
    <% })   %> 

    <script>
        $(function() {

            $('#okbutton').on('click', function() {

                $.ajax({
                        type: "GET",
                        url: "/pelaaja/" + document.getElementById("pelaajabase").value,
                        dataType: "json",
                        success: function(pelaajat)
                        {
                            $.each(pelaajat, function(i, pelaaja)
                            {
                                document.getElementById("statsfifamatches").innerHTML = "Fifa Ottelut: " + (pelaaja.fifaWins + pelaaja.fifaLosses + pelaaja.fifaDraws)
                                document.getElementById("statsfifawins").innerHTML = "Fifa Voitot: " + pelaaja.fifaWins;
                                document.getElementById("statsfifalosses").innerHTML = "Fifa Häviöt: " + pelaaja.fifaLosses;
                                document.getElementById("statsfifadraws").innerHTML = "Tasapelit: " + pelaaja.fifaDraws;
                                document.getElementById("statsfifawinperc").innerHTML = "Fifa Voittoprosentti: " + (pelaaja.fifaWinPerc * 100).toFixed(0) + "%";
                                document.getElementById("statsbiljardiamatches").innerHTML = "Biljardi Ottelut: " + (pelaaja.biljardiWins + pelaaja.biljardiLosses)
                                document.getElementById("statsbiljardiwins").innerHTML = "Biljardi Voitot: " + pelaaja.biljardiWins;
                                document.getElementById("statsbiljardilosses").innerHTML = "Biljardi Häviöt: " + pelaaja.biljardiLosses;
                                document.getElementById("statsbiljardiwinperc").innerHTML = "Biljardi Voittoprosentti: " + (pelaaja.biljardiWinPerc * 100).toFixed(0) + "%";
                            })
                        }          
                });
            });
            $('#vsbutton').on('click', function() {

                if (document.getElementById("pelaajavs1").value != document.getElementById("pelaajavs2").value)
                {
                    $.ajax({
                        type: "GET",
                        url: "/pelaaja/vs/" + document.getElementById("pelaajavs1").value + "/" + document.getElementById("pelaajavs2").value,
                        datatype: "json",
                        success: function(results)
                        {
                            var fifasresults = results.filter(function(val) {return val.game === "Fifa"});
                            var biljardisresults = results.filter(function(val) {return val.game === "Biljardi"});

                            var fifamatches = fifasresults.length;
                            var fifaplayer1wins = fifasresults.filter(function(val) {return val.winner ===  document.getElementById("pelaajavs1").options[document.getElementById("pelaajavs1").selectedIndex].text;}).length;
                            var fifaplayer1perc = ((fifaplayer1wins / fifamatches) * 100).toFixed(0);
                            var fifaplayer1lumierat = fifasresults.filter(function(val) {return val.winner ===  document.getElementById("pelaajavs1").options[document.getElementById("pelaajavs1").selectedIndex].text;}).filter(function(val) {return val.lumierat === true}).length;
                            var fifaplayer2wins = fifasresults.filter(function(val) {return val.winner ===  document.getElementById("pelaajavs2").options[document.getElementById("pelaajavs2").selectedIndex].text;}).length;
                            var fifaplayer2perc = ((fifaplayer2wins / fifamatches) * 100).toFixed(0);
                            var fifaplayer2lumierat = fifasresults.filter(function(val) {return val.winner ===  document.getElementById("pelaajavs2").options[document.getElementById("pelaajavs2").selectedIndex].text;}).filter(function(val) {return val.lumierat === true}).length;
                            var fifadraws = fifasresults.filter(function(val) {return val.drawnplayerhome ===  document.getElementById("pelaajavs1").options[document.getElementById("pelaajavs1").selectedIndex].text;}).length + fifasresults.filter(function(val) {return val.drawnplayeraway ===  document.getElementById("pelaajavs1").options[document.getElementById("pelaajavs1").selectedIndex].text;}).length;
                            var fifadrawsperc = ((fifadraws / fifamatches) * 100).toFixed(0);

                            var biljardimatches = biljardisresults.length;
                            var biljardiplayer1wins = biljardisresults.filter(function(val) {return val.winner ===  document.getElementById("pelaajavs1").options[document.getElementById("pelaajavs1").selectedIndex].text;}).length;
                            var biljardiplayer1perc = ((biljardiplayer1wins / biljardimatches) * 100).toFixed(0);
                            var biljardiplayer1lumierat = biljardisresults.filter(function(val) {return val.winner ===  document.getElementById("pelaajavs1").options[document.getElementById("pelaajavs1").selectedIndex].text;}).filter(function(val) {return val.lumierat === true}).length;
                            var biljardiplayer2wins = biljardisresults.filter(function(val) {return val.winner ===  document.getElementById("pelaajavs2").options[document.getElementById("pelaajavs2").selectedIndex].text;}).length;
                            var biljardiplayer2perc = ((biljardiplayer2wins / biljardimatches) * 100).toFixed(0);
                            var biljardiplayer2lumierat = biljardisresults.filter(function(val) {return val.winner ===  document.getElementById("pelaajavs2").options[document.getElementById("pelaajavs2").selectedIndex].text;}).filter(function(val) {return val.lumierat === true}).length;


                            document.getElementById("vsfifamatches").innerHTML = "Fifa ottelut: " + fifamatches;
                            document.getElementById("vsfifaplayer1wins").innerHTML = document.getElementById("pelaajavs1").options[document.getElementById("pelaajavs1").selectedIndex].text + " voitot: " + fifaplayer1wins + ", (" + fifaplayer1perc + "%), Lumierät: " + fifaplayer1lumierat;
                            document.getElementById("vsfifaplayer2wins").innerHTML = document.getElementById("pelaajavs2").options[document.getElementById("pelaajavs2").selectedIndex].text + " voitot: " + fifaplayer2wins + ", (" + fifaplayer2perc + "%), Lumierät: " + fifaplayer2lumierat;
                            document.getElementById("vsfifadraws").innerHTML = "Tasapelit: " + fifadraws + ", (" + fifadrawsperc + "%)";

                            document.getElementById("vsbiljardimatches").innerHTML = "Biljardi ottelut: " + fifamatches;
                            document.getElementById("vsbiljardiplayer1wins").innerHTML = document.getElementById("pelaajavs1").options[document.getElementById("pelaajavs1").selectedIndex].text + " voitot: " + biljardiplayer1wins + ", (" + biljardiplayer1perc + "%), Lumierät: " + biljardiplayer1lumierat;
                            document.getElementById("vsbiljardiplayer2wins").innerHTML = document.getElementById("pelaajavs2").options[document.getElementById("pelaajavs2").selectedIndex].text + " voitot: " + biljardiplayer2wins + ", (" + biljardiplayer2perc + "%), Lumierät: " + biljardiplayer2lumierat;
                        }
                    })
                }
                else
                {
                    errorMessage = "ASD";
                }
            })           
        });
    </script>
</body>
</html>