<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>FIFA tilastot</h1>

    <% if (locals.errorMessage != null) { %>
        <div><%= errorMessage %></div>
      <% } %>
      
    <label>Pelin tulos</label>
    <form action="fifa" method="POST">

        <% try { %>
            <label>Pelaaja 1</label>
            <select name="pelaajahome">
            <% pelaaja.forEach(element => { %>
            <option label=" <%= element.playerName %>" value="<%= element.playerName %>">
            <% }) %>
            </select>
        <% } catch (error) { %>
            <% return true; %>
        <% } %>

        <% try { %>
            <label>Pelaaja 2</label>
            <select name="pelaajaaway">
            <% pelaaja.forEach(element => { %>
            <option label=" <%= element.playerName %>" value="<%= element.playerName %>">
            <% }) %>
            </select>
        <% } catch (error) { %>
            <% return true; %>
        <% } %>
    <br>
    <input type="number" min="0" name="fifaresulthome" value="0">
    <input type="number" min="0" name="fifaresultaway" value="0">
    <button type="submit">OK</button>
    </form>



    <% try { %>
        <% fifaResults.forEach(element => { %>
            <div><%= element.resultHome %> - <%= element.resultAway %></div>
            <div>Winner: <%= element.winner %>, Loser: <%= element.loser %>, Lumierät: <%= element.lumierat%></div>
          <% }) %>
    <% } catch (error) { %>
        <% return true; %>
    <% } %>

</body>
</html>