<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>FIFA tilastot</h1>
    <label>Tulos</label>
    <%- include ("_form_fields.ejs") %>

    <!--  fifaResults is defined in fifarouter -> get"/" -> const fifaResults  --> 
    <% fifaResults.forEach(element => { %>
        <div><%= element.resultHome %> - <%= element.resultAway %></div>
        <div>Winner: <%= element.winner %>, Loser: <%= element.loser %>, Lumierät: <%= element.lumierat%></div>
      <% }) %>
</body>
</html>