<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h3>FIFA tilastot</h3>

    <% if (locals.errorMessage != null) { %>
        <div><%= errorMessage %></div>
      <% } %>
      
    <label>Pelin tulos</label>
    <form action="fifa" method="POST">

        <% try { %>
            <label>Pelaaja 1</label>
            <select name="pelaajahome">
            <% pelaaja.forEach(element => { %>
            <option label=" <%= element.playerName %>" value="<%= element.playerName %>">
            <% }) %>
            </select>
        <% } catch (error) { %>
            <% return true; %>
        <% } %>

        <% try { %>
            <label>Pelaaja 2</label>
            <select name="pelaajaaway">
            <% pelaaja.forEach(element => { %>
            <option label=" <%= element.playerName %>" value="<%= element.playerName %>">
            <% }) %>
            </select>
        <% } catch (error) { %>
            <% return true; %>
        <% } %>
    <br>
    <input type="number" min="0" max="100" name="fifaresulthome" value="0">
    <input type="number" min="0" max="100" name="fifaresultaway" value="0">
    <button type="submit">OK</button>
    </form>

<br>
<br>
<label>Aikaisempien otteluiden tulokset:</label>
<br>
<br>
    <% try { %>
        <% fifaResults.forEach(element => { %>
            <div><%= element.resultHome %> - <%= element.resultAway %></div>
            <% if (element.resultHome == element.resultAway) { %>
                <div>Tasapeli pelaajien <%= element.drawnplayerhome %> ja <%= element.drawnplayeraway %> välillä, Lumierät: <%= element.lumierat%>, Ajankohta: <%= element.MatchDate%></div>
            <%  } else { %>
            <div>Voittaja: <%= element.winner %>, Häviäjä: <%= element.loser %>, Lumierät: <%= element.lumierat%>, Ajankohta: <%= element.MatchDate%></div>
          <% }}) %>
    <% } catch (error) { %>
        <% return true; %>
    <% } %>

</body>
</html>