<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h3>FIFA tilastot</h3>
     
    <p style="margin-bottom: 20px;">Pelin tulos:</p>
    <form action="fifa" method="POST">

        <label>Pelaaja 1</label>
        <div style="display: inline-flex; margin-left: 15px;" class="select">
            <select name="pelaajahome">
            <% pelaaja.forEach(element => { %>
            <option label=" <%= element.playerName %>" value="<%= element.playerName %>">
            <% }) %>
            </select>
        </div>
          <input class="inputnumber" type="number" min="0" max="99" name="fifaresulthome" value="0" required>
        
        <br>
        <label>Pelaaja 2</label>
        <div style="display: inline-flex; margin-top: 20px; margin-left: 12px" class="select">
            <select name="pelaajaaway">
            <% pelaaja.forEach(element => { %>
            <option label=" <%= element.playerName %>" value="<%= element.playerName %>">
            <% }) %>
            </select>
        </div>
        <input class="inputnumber" type="number" min="0" max="99" name="fifaresultaway" value="0" required>
        

    <br>
    <button style="margin-left: 225px; margin-top: 15px;" type="submit" class="myButton" >OK</button>
    </form>

<br>
<br>
<h3 style="margin-top: 50px;" >Aikaisempien pelien tulokset:</h3>
<br>
<br>
    <% try { %>
        <% fifaResults.forEach(element => { %>
            <% const date =  element.MatchDate.getDate() + "." + element.MatchDate.getMonth() + "." + element.MatchDate.getFullYear() + ", " + element.MatchDate.getHours() + ":" + element.MatchDate.getMinutes() %>
            <% if (element.resultHome == element.resultAway) { %>
                <li class="resultclass"><%= element.resultHome %> - <%= element.resultAway %>, Tasapeli pelaajien <%= element.drawnplayerhome %> ja <%= element.drawnplayeraway %> välillä, Ajankohta: <%= date %></li>
            <%  } else { %>
            <li class="resultclass"><%= element.resultHome %> - <%= element.resultAway %>, Voittaja: <%= element.winner %>, Häviäjä: <%= element.loser %>, Ajankohta: <%= date %></li>
          <% }}) %>
    <% } catch (error) { %>
        <% return true; %>
    <% } %>

</body>
</html>